:root
    {
        --color-primario:   hsl(215, 51%, 70%);
        --color-secundario: hsl(175, 100%, 50%);
        --color-tres:       hsl(217, 54%, 11%);
        --color-cuatro:     hsl(216, 50%, 16%);
        --color-cinco:      hsl(215, 32%, 27%);
        --color-seis:       hsl(0, 0%, 100%);
        --font-size:18px;
        --font-primary: 'Outfit' , sans-serif;
    }

*
    {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    } 

body
    {
        background-color: var(--color-tres);
        font-family: var(--font-primary);
    }

.wrap
    {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

main
    {
        width: 85%;
        max-width: 318 75px;
        display: flex;
        justify-content: center;
        background-color: var(--color-cuatro);
        padding-top: 20px;
        border-radius: 15px;
        margin: 20px 0px; 
    }

.container
    {
        width: 85%;
    }
    
.container .imgContainer img
    {
        width: 100%;
        border-radius: 15px;
    }

h1
    {
        margin: 20px 0px;
        color: var(--color-seis);
        font-size: 21px; 
    }

.container > p  
    {
        color: var(--color-primario);
        font-weight: 300;
        margin-bottom: 20px;

    }

.price
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--color-cinco);
    }

.price .left , .price .right
{
    width: 50%;
    display: flex;

}

.price .right
{
    justify-content: flex-end;
}

.price .eth
    {
        color: var(--color-secundario);
        font-weight: 600;
    }

.daysLeft
    {
        color: var(--color-primario);
        font-weight: 400;
    }

.price .eth , .price .daysLeft
{
    margin-left: 7px;
}

.user
{
    padding: 16px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user .imgContainer
{
    border-radius: 50%;
    border: 1px solid var(--color-seis);
    width: 30px;
    height: 30px; 

}

.user .imgContainer img
{
    width: 100%;
}

.user p
{
    color: var(--color-primario);
    margin-left: 15px;
    font-weight: 300;
}

.user p .name
{
    color: var(--color-seis);
}